* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* fine reset*/
/*regole generali*/
body {
  font-family: "Roboto", verdana;
}
.container {
  width: 1024px;
  margin: auto;
}
ul {
  list-style-type: none;
  color: white;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/*fine regole generali */
/*inizio header */
header {
  color: white;
  height: 500px;
  background-color: #0b325a;
  background-image: url(../img/background-header.png);
  background-repeat: no-repeat;
  background-size: 750px;
  background-position: 110% 100%;
  position: relative;
}
.logo {
  padding-top: 10px;
  float: left;
}
/*INIZIOO MENU CENTRALE */
.menu-centrale {
  float: left;
  display: inline-block;
  padding-top: 28px;
  padding-left: 12px;
  font-size: 10px;
  padding-left: 30px;

}
.menu-centrale li {
  display: inline-block;

}
.menu-centrale li a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
}
.menu-centrale li a:hover {
  color: orange;
}
/*FINE MENU CENTRALE*/
/*INIZIO MENU DESTRO */
.menu-destro {
  right: 0;
  text-align: right;
  padding-top: 28px;
  font-size: 10px;
}
.menu-destro li {
  display: inline-block;
}
.menu-destro li a:hover {
  color: orange;
}
.menu-destro li a {
  color: white;
  text-decoration: none;
  margin-left: 30px;
}
.login {
  border: 1px solid white;
  padding: 5px 13px;
  border-radius: 4px;
}
.str {
  border: 1px solid #33cc33;
  padding: 5px 13px;
  border-radius: 4px;
  background: #33cc33;
}
/*FINE MENU DESTRO*/
/*Inizio titolo*/
.titolo {
  top: 39%;
  position: absolute;
  font-size: 23px;
}
.piano {
  border: 1px solid #33cc33;
  background: #33cc33;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  padding: 13px 13px;
  font-size: 14px;
  position: absolute;
  top: 129%;
  left: 3%;
}
.titolo .piano:hover {
  color: orange;
}
